{% extends "base.html" %}
{% set active_page = 'inside' %}

{% block title %}Home{% endblock %}
{% block content %}

		<section id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
						<div class="intro animate-box">
							<h1>About Team</h1>
						</div>
					</div>
				</div>
			<div>
		</section>
		  <div class="row">
			    <div class="col-lg-4 col-sm-6 col-xs-12">
			        <a href="https://www.instagram.com/r_vinayak/">
			             <img src="static/images/vianyak.jpg" width="300px" height="300px" class="thumbnail img-responsive" style="border-radius: 50%;margin-left: 10%;">
			        </a>
			        <p><center><b><h3>Vinayak Rastogi</h3></b></center></p>
			    </div>
			     <div class="col-lg-4 col-sm-6 col-xs-12">
			        <a href="https://www.instagram.com/ank.it42/">
			             <img src="static/images/ankit.jpg" width="300px" height="300px" class="thumbnail img-responsive" style="border-radius: 50%;margin-left: 10%;">
			        </a>
			        <p><center><b><h3>Ankit Solanki</h3></b></center></p>
			    </div>
			     <div class="col-lg-4 col-sm-6 col-xs-12">
			        <a href="https://www.instagram.com/summit.ghosh/">
			             <img src="static/images/sumit.jpg" width="300px" height="300px" class="thumbnail img-responsive" style="border-radius: 50%;margin-left: 10%;">
			        </a>
			        <p><center><b><h3>Sumit Ghosh</h3></b></center></p>
			    </div>
			</div>
		<br><hr>
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-command"></i>
							</div>
							<h2>CodeFunDo'18</h2>	
							<p>This project is developed for CodeFunDo organized in Jan'18 by Microsoft.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-drop2"></i>
							</div>
							<h2>Insightous</h2>
							<p>It takes all your twitter posts and describes your Personalty Insights.</p>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="service">
							<div class="service-icon">
								<i class="icon-anchor"></i>
							</div>
							<h2>Thanks to-</h2>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
