{% extends "base.html" %}
{% block content %}
{% if person %}
<!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Personality</h2>
            <br>
            <hr>
            {% for p in person['personality'] %}
            <p> {{ p['name'] }}
            <div class="progress">
              {% set percent = percentage(p['percentile']) -%}
              <div class="progress-bar" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"><!-- {{ percent }}% --></div>
            </div>
            {% endfor %}
          </div>

          <div class="col-md-4">
            <h2>Needs</h2>
            <br>
            <hr>
            {% for need in person['needs'] %}
            <p> {{ need['name'] }}
            <div class="progress">
              {% set percent = percentage(need['percentile']) -%}
              <div class="progress-bar" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"><!-- {{ percent }}% --></div>
            </div>
            {% endfor %}
          </div>

          <div class="col-md-4">
            <h2>Values</h2>
            <br>
            <hr>
            {% for value in person['values'] %}
            <p> {{ value['name'] }}
            <div class="progress">
              {% set percent = percentage(value['percentile']) -%}
              <div class="progress-bar" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"><!-- {{ percent }}% --></div>
            </div>
            {% endfor %}
          </div>

{% endif %}
{% endblock %}
